<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	
	<!-- Property Setup -->
	<property resource="application.properties" />
	
	<!-- STD OUT Configuration -->
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%X{X-TRANSACTION-ID}] [%thread] %-5level %logger{36}.%M - %msg%n</pattern>
		</encoder>
	</appender>

	<!-- File Configuration -->
	<appender name="SAVE-TO-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${shipcrm-mail-manager.log.path}/logs/mail_manager.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>%d{dd-MM-yyyy HH:mm:ss.SSS} [%X{X-TRANSACTION-ID}] [%thread] %-5level %logger{36}.%M - %msg%n</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${shipcrm-mail-manager.log.path}/logs/archieved/mail_manager_%d{dd-MM-yyyy}.log</fileNamePattern>
			<maxHistory>10</maxHistory>
			<totalSizeCap>100MB</totalSizeCap>
		</rollingPolicy>
	</appender>

	<!-- Writing Level Configuration -->
	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="SAVE-TO-FILE" />
	</root>

</configuration>


